@import "tailwindcss";

@theme inline {
  --color-primary: #3a86ff;
  --color-secondary: #ffbe0b;

  --color-blue-100: #7ddaff;
  --color-blue-200: #5cb0ff;
  --color-blue-300: #3a86ff;
  --color-blue-400: #1d68d0;
  --color-blue-500: #0049a0;

  --color-yellow-100: #ffed9f;
  --color-yellow-200: #ffd655;
  --color-yellow-300: #ffbe0b;
  --color-yellow-400: #e6a80d;
  --color-yellow-500: #cc920e;

  /* --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-sans: var(--font-montserrat); */
}

html,
body,
:root {
  height: 100%;
}

body {
  font-family: var(--font-sans), sans-serif;
}
